{% extends "main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->
<style>
  .md-header {
    position: sticky
  }

  .md-main__inner {
    margin: 0
  }

  .md-content {
    display: none
  }

  @media screen and (min-width:60em) {
    .md-sidebar--secondary {
      display: none
    }
  }

  @media screen and (min-width:76.25em) {
    .md-sidebar--primary {
      display: none
    }
  }

  code[class="language-python"] {
        font-size: 0.75rem;
  }

  code[class="language-javascript"] {
        font-size: 0.75rem;
  }
  
</style>

<!--documetation-->
<section class="section-dark-body w-100">
  <div class="md-grid conteiner-row pt-1 pt-lg-5 my-4">
    <div class="px-3 ctx-header-text conteiner">
      <div class="conteiner-row">
        <p class="h1 text-xs-center t-b">
          <span style= "color:#ec5b0d;">SIEVE</span>
        </p>
      </div>
      <img src="assets/images/logos/sieve-logo.svg"
        class="laverage-header-img d-lg-none d-xl-none d-md-none d-sm-none d-xs-none mx-auto" />
      <p class="h2-3 text-xs-center spacing t-b mb-5" style="font-family:Sans-serif; color:#ea844e;" id="animated-text"></p>
      <div class="conteiner-row conteiner-xs">
        <button type="button" title="{{ page.next_page.title | e }}"
        onclick="scrollToLearnMoreSection()"
          class="btn-yellow btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          How it works
        </button>
        <button type="button" title="{{ page.next_page.title | e }}" 
          onclick="window.open('https://yazhuozhang.com/assets/pdf/nsdi24-sieve.pdf', '_blank')"
          class="btn-yellow btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          To appear in NSDI'24
        </button>
      </div>
    </div>
    <div class="mt-4 pl-3">
      <img src="assets/images/logos/sieve-front-image.svg" style="width: 80%; height: auto;"/>
    </div>
  </div>
</section>

<section class="section-white-body w-100" , id="howwork">
  <div class="text-align-center t-b text-dark h1 mt-5">
    <p>How does SIEVE work?</p>
  </div>
  <div class="center-container my-2">
    <img src="assets/images/illustrations/sieve_diagram.gif" class="howdoeswork-img my-xs-5 my-sm-5 my-md-5" />
  </div>

</section>

<section class="section-yellow-body w-100", id="keyfeatures">
  <div class="text-align-center t-b text-white h1 my-5">
    <p>Key Features</p>
  </div>
  <div class="main-container">
    <div class="feature-container">
      <div class="feature-text">
          <h2>Simplicity</h2>
          <p class="description">SIEVE is easy to implement and can be easily integrated into existing systems. </p>
      </div>
      <div class="feature-image">
          <!-- <img src="assets/images/illustrations/simplicity.svg" alt="Simplicity Graph"> -->
          <table style="margin:auto; border-collapse:collapse; width:82%; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);">
            <tr style="font-size: 0.9rem; background-color:white; color:black;">
              <th style="border:1px solid black; padding:10px; font-weight: bold;">Cache library</th>
              <th style="border:1px solid black; padding:10px; font-weight: bold;">Language</th>
              <th style="border:1px solid black; padding:10px; font-weight: bold;">Lines</th>
              <th style="border:1px solid black; padding:10px; font-weight: bold;">Hour of work</th>
            </tr>
            <tr style="font-size: 0.8rem; background-color:white; color:black; text-align:center;">
              <td style="border:1px solid black; padding:10px;">
                <a href="https://github.com/cacheMon/groupcache" style="color:#d6723c; text-decoration:none;">groupcache</a>
              </td>
              <td style="border:1px solid black; padding:10px;">Golang</td>
              <td style="border:1px solid black; padding:10px;">21</td>
              <td style="border:1px solid black; padding:10px;">&lt;1</td>
            </tr>
            <tr style="font-size: 0.8rem; background-color:white; color:black; text-align:center;">
              <td style="border:1px solid black; padding:10px;">
                <a href="https://github.com/cacheMon/mnemonist" style="color: #d6723c; text-decoration:none;">mnemonist</a>
              </td>
              <td style="border:1px solid black; padding:10px;">Javascript</td>
              <td style="border:1px solid black; padding:10px;">12</td>
              <td style="border:1px solid black; padding:10px;">1</td>
            </tr>
            <tr style="font-size: 0.8rem; background-color:white; color:black; text-align:center;">
              <td style="border:1px solid black; padding:10px;">
                <a href="https://github.com/cacheMon/lru-rs" style="color: #d6723c; text-decoration:none;">lru-rs</a>
              </td>
              <td style="border:1px solid black; padding:10px;;">Rust</td>
              <td style="border:1px solid black; padding:10px;;">16</td>
              <td style="border:1px solid black; padding:10px;">1</td>
            </tr>
            <tr style="font-size: 0.8rem; background-color:white; color:black; text-align:center;">
              <td style="border:1px solid black; padding:10px;">
                <a href="https://github.com/cacheMon/lru-dict" style="color: #d6723c; text-decoration:none;">lru-dict</a>
              </td>
              <td style="border:1px solid black; padding:10px;">Python + C</td>
              <td style="border:1px solid black; padding:10px;">21</td>
              <td style="border:1px solid black; padding:10px;">&lt;1</td>
            </tr>
          </table>
      </div>
      
    </div>
    <div class="feature-container">
      <div class="feature-text">
        <h2>Efficiency</h2>
        <p class="description">SIEVE achieves state-of-the-art efficiency on skewed workloads.</p>
        <p class="description" style="font-size: 0.8rem;"><br>*Miss ratio on a Zipfian dataset (&alpha;=1). </p>
      </div>
      <div class="feature-image">
        <img src="assets/images/illustrations/zipf.svg" alt="Efficiency Graph">
      </div>
    </div>
    <div class="feature-container">
      <div class="feature-text">
          <h2>Cache Primitive</h2>
          <p class="description">
            SIEVE can facilitate the design of advanced eviction algorithms.
          </p>
      </div>
      <div class="feature-image">
          <img src="assets/images/illustrations/sieve_queue_all_large.svg" alt="Primitive Graph">
      </div>
    </div>
  </div>
</section>


<section class="section-white-body w-100" , id="adoption">
  <div class="text-align-center t-b text-dark h1-2 mt-4">
    <p>Adoption</p>
  </div>

  <div class="repo-container text-align-center t-500 text-dark h3 my-3">
    <div class="inline-content mb-1">
      <p style="margin-right: 10px;">Companies:</p>
      <p class="italic">to update</p>
    </div>
    <div class="inline-content mb-1">
      <p style="margin-right: 10px;">Popular libraries:</p>
      <a href="https://github.com/scalalang2/golang-fifo" target="_blank" class="repo_link">
        <img src="assets/images/avatars/scalalang2.jpeg" alt="Author's Avatar" class="author-avatar">
      </a>
      <a href="https://github.com/scalalang2/golang-fifo" target="_blank" class="repo_link">golang-fifo</a>
      
    </div>
    <div class="inline-content mb-1">
      <p style="margin-right: 10px;">Popular systems:</p>
      <a href="https://github.com/pelikan-io/pelikan" target="_blank" class="repo_link">
        <img src="assets/images/avatars/pelikan.jpeg" alt="Author's Avatar" class="author-avatar">
      </a>
      <a href="https://github.com/pelikan-io/pelikan" target="_blank" class="repo_link">Pelikan</a>
    </div>
    <div class="inline-content mb-1">
      <p style="margin-right: 10px;">Media coverage:</p>
      <a href="https://brooker.co.za/blog/2023/12/15/sieve.html" target="_blank" class="repo_link">Marc's Blog</a>
      <p>, </p>
      <a href="https://tldr.tech/tech/2024-01-04" target="_blank" class="repo_link" style="margin-left: 5px;">TLDR</a>
      <p>, </p>
      <a href="https://ftp.yuni.dev/bbconf/2023-winter/LDH_SIEVE_S3_FIFO_Cache_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0_%EC%86%8C%EA%B0%9C.pdf" target="_blank" class="repo_link"  style="margin-left: 5px;">BBConf(Korean)</a>
    </div>
    <div class="inline-content mb-1">
      <p style="margin-right: 10px;">Other libs:</p>
      <a href="https://github.com/kurtextrem/js-sieve" target="_blank" class="repo_link">
        <img src="assets/images/avatars/kurtextrem.jpeg" alt="Author's Avatar" class="author-avatar">
      </a>
      <a href="https://github.com/linux-china/sieve-cache" target="_blank" class="repo_link">
        <img src="assets/images/avatars/linux-china.png" alt="Author's Avatar" class="author-avatar">
      </a>
      <a href="https://github.com/opencoff/go-sieve" target="_blank" class="repo_link">
        <img src="assets/images/avatars/opencoff.jpeg" alt="Author's Avatar" class="author-avatar">
      </a>
      <a href="https://github.com/thelibrarian/sieve_cache" target="_blank" class="repo_link">
        <img src="assets/images/avatars/thelibrarian.jpeg" alt="Author's Avatar" class="author-avatar">
      </a>
      <a href="https://github.com/jedisct1/rust-sieve-cache" target="_blank" class="repo_link">
        <img src="assets/images/avatars/jedisct1.jpeg" alt="Author's Avatar" class="author-avatar">
      </a>
      <a href="https://github.com/tensorush/zig-sieve" target="_blank" class="repo_link">
        <img src="assets/images/avatars/tensorush.jpeg" alt="Author's Avatar" class="author-avatar">
      </a>
    </div>

    <p class="mt-3 italic">More to come!</p>
  </div>

</section>

<section class="section-white-body w-100" , id="sponsors">
  <div class="text-align-center t-b text-dark h1-2 mt-4">
    <p>Acknowledgement</p>
  </div>

  <div class="text-align-center t-500 text-dark h3 my-3">
    <p><span class="t-b italic h2-2">Sponsors:</span><br>
      <a href="https://csd.cmu.edu/" target="_blank" class="custom-link-text">Carnegie Mellon University</a> <a href="https://www.pdl.cmu.edu/index.shtml" target="_blank" class="custom-link-text">Parallel Data Laboratory</a>
      <a href="https://www.cs.emory.edu/home/" target="_blank" class="custom-link-text">Emory University</a> <a href="https://simbiosys.mathcs.emory.edu/home" target="_blank" class="custom-link-text">SimBioSys Lab</a><br>
      Meta, Google, AWS, Microsoft, CloudLab, NSF</p><br>
    <p><span class="t-b italic h2-2">Dataset source:</span><br> 
      Meta, Tencent, Wikimedia, Twitter</p>
  </div>

</section>


<section class="section-white-body w-100" , id="contactus">
  <div class="text-align-center t-b text-dark h1-2 mt-4">
    <p>Contact Us</p>
  </div>

  <div class="text-align-center t-500 text-dark h3 mt-3 mb-5">
    <a href="mailto:cachemon.org@gmail.com" target="_blank" class="custom-link">
      <i class="fa-solid fa-envelope fa-2x"></i></a>
    <a href="https://join.slack.com/t/cachemon/shared_invite/zt-20pjil08z-f9d1Ui~p1gfBnsedHP9x8Q" target="_blank" class="custom-link">
      <i class="fa-brands fa-slack fa-2x"></i></a>
    <a href="https://twitter.com/cachemon_org" target="_blank" class="custom-link">
      <i class="fa-brands fa-twitter fa-2x"></i></a>
    <a href="https://github.com/cacheMon" target="_blank" class="custom-link">
      <i class="fa-brands fa-github fa-2x"></i></a>
  </div>

</section>

{% endblock %}
